.book-link {
  text-decoration: none;
  color: black;
}

.book-link:hover {
  text-decoration: underline;
}

.search {
  margin-top: 10px;
}

.clickable {
  cursor: pointer;
}

.column {
  min-width: 100px;
}

.inline {
  display: inline-block;
}

.similar {
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.title {
  width: 400px;
}

.author {
  width: 150px;
}